{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="col-md-8">
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-block btn-info" type="submit">Login</button>
            <small class="text-muted">
                Don't have an account?<a href="{% url 'user-register' %}" class="ml-2">Sign up now</a>
            </small>
        </form>
    </div>
</div>
{% endblock content %}